/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */
.banner {
  background-image: url(../images/background.png);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner h1 {
  color: white;
}

.banner p {
  color: grey;
}

.container {
  width: 900px;
  margin: auto;
}

.btn-apply {
  display: inline-block;
  background-color: #1EDD88;
  padding: 16px 36px;
  border-radius: 50px;
  color: white;
}

.text-center {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card {
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230, 230, 230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230, 230, 230);
}

.card img {
  height: 100px;
}

.card p {
  opacity: .5;
}

.footer {
  text-align: center;
  padding: 60px;
  background-color: #2c2b2b
}

.fab {
  font-family: "Font Awesome 5 Brands"
}

.fa-fw {
  text-align: center;
  width: 1.25em
}

.footer a {
  font-size: 30px;
  color: #1EDD88;
}

.fa-heart {
  color: #BF1011;
}
